@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: rgb(22, 22, 22);
  /*background: linear-gradient(90deg, rgba(112, 75, 146, 0.877) 0%, rgb(95, 26, 141) 25%, rgba(105,34,170,1) 75%);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
